<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Syncfusion_Xamarin" value="http://nuget.syncfusion.com/nuget_xamarin/nuget/getsyncfusionpackages/xamarin" />
        <add key="iconize" value="https://ci.appveyor.com/nuget/iconize" />
    </packageSources>
    <activePackageSource>
      <!-- this tells that all of them are active -->
      <add key="All" value="(Aggregate source)" />
    </activePackageSource>
 </configuration>